{% extends "base.html" %}

{% block content %}
{% load static %}
{% load share %}
  <script src="{% static 'js/add.js' %}"></script>

    <div class="row">
      <div class="col-lg-8">
        <ul class="nav nav-tabs">
  <li class="active"><a href="#following" data-toggle="tab" aria-expanded="true">Following</a></li>
  <li class=""><a href="#followers" data-toggle="tab" aria-expanded="false">Followers</a></li>
  <li class=""><a href="{% url 'favedtwits' owner_user %}"  aria-expanded="false">Followers</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="following">
     {% for f in follow.following.all %}
            {{f}}
          {% endfor %}
  </div>
  <div class="tab-pane fade" id="followers">
    {% for f in follow.followers.all %}
            {{f}}
          {% endfor %}
  </div>
</div>
      
      {% ifequal user owner_user %}
      <br>
      profilini duzenle
      {% else %}

        {% if user not in follow.followers.all %}
        <a href="{% url 'follow' user.id owner_user.id %}">follow this user</a>
        
        {% else %}
        <a href="{% url 'unfollow' user.id owner_user.id %}">unfollow this user</a>
        {% endif %}
      {% endifequal %}
      
      
    <div id="twitsofuser">
      <p>
        {% for twit in tweets %}
          {% t_t request twit.id owner_user.id user2 %}</br>
          </h4>
        {% endfor %}
      </p>
    </div>
    <div>
<div class="form-group has-warning">
      <form method='POST' action='/posttwit/' enctype='multipart/form-data' id="posttwit">
                {% csrf_token %}
                <textarea class="form-control input" name='content' type='text'>Enter your twit.</textarea>
                <div style="padding-top:3px;">
                <input class="btn btn-warning" type='submit' value='Send' /> 
              </div>
             
            </form>
          </div>
                            <script type="text/javascript">
                                $("#posttwit").submit(function(e) {
                                  var url = $(this).attr('action');
                                  var formData = new FormData(this);
                                    
                                    $.ajax({
                                           type: "POST",
                                           url: url,
                                           data: formData,
                                           async: false,
                                           cache: false,
                                           contentType: false,
                                           processData: false,
                                           success: function(data)
                                           {
                                            
                                           $("#twitsofuser").load("# #twitsofuser");   
                                           }
                                         });
                                        e.preventDefault(); 
                                    });    
                            </script>
    </div>
    </div>
  
{% endblock %}
