{% load static %}

<!DOCTYPE html>


<html >
  <head>
	<meta charset="utf-8">

	<title>Twitter</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static 'js/add.js' %}"></script>

  </head>

	<body>
		<div>
			<h1>Tweetler</h1>
      <form method='POST' action='/gonder/' enctype='multipart/form-data' id="twitgonder">
				{% csrf_token %}
				<input id="tweet" style="width: 350px;" name="tweet" type="text" />
				<input id="rt" style="width: 50px;" name="rt" type="text" />
				<input id="fav" style="width: 50px;" name="fav" type="text" />
				<input id="go" class="btn btn-warning"   type="submit" value="Gönder" />
      </form>
			
		</div>
		<div id="twitsofuser">
			<p>
				{% for twit in tweets %}
				<h4>{{ twit.content }}</br></h4>
				{% endfor %}
			</p>
		</div>
		<div>
			<form method='POST' action='/posttwit/' enctype='multipart/form-data' id="posttwit">
                {% csrf_token %}
                <textarea class="input" name='content' type='text'>Enter your twit.</textarea>
                <input type='submit' value='Send' /> 
            </form>
                            <script type="text/javascript">
                                $("#posttwit").submit(function(e) {
                                  var url = $(this).attr('action');
                                  var formData = new FormData(this);
                                    
                                    $.ajax({
                                           type: "POST",
                                           url: url,
                                           data: formData,
                                           async: false,
                                           cache: false,
                                           contentType: false,
                                           processData: false,
                                           success: function(data)
                                           {
                                           $("#twitsofuser").load("# #twitsofuser");   
                                           }
                                         });
                                        e.preventDefault(); 
                                       

                                    });    
                            </script>
		</div>

	</body>

</html>
    